# Listas

In [1]:
#Podemos guardar numeros.

[22,23,24,25]

[22, 23, 24, 25]

In [2]:
#Podemos guardar strings

["rojo","azul","amarillo"]

['rojo', 'azul', 'amarillo']

In [3]:
#No tienen porqué ser del mismo tipo de dato. Una lista, dentro de otra lista.

['python',8,2.2,[10,12,14]]

['python', 8, 2.2, [10, 12, 14]]

In [4]:
#Hemos visto que podemos tener una lista mientras el conjunto de 
#elementos esté entre corchetes. Pero tambien podemos nombrarlas en
#una variable.

colores=["rojo","azul","amarillo"]
numeros=[22,23,24,25]

In [5]:
#Tambien podemos crear listas vacias, que lo hacemos entre corchetes
#vacíos.

lista_vacía=[]

In [6]:
print(colores)
print(numeros)
print(lista_vacía)

['rojo', 'azul', 'amarillo']
[22, 23, 24, 25]
[]

In [7]:
#Como ya hemos visto, con print type podemos comprobar que hemos creado
#3 listas

print(type(colores))
print(type(numeros))
print(type(lista_vacía))

<class 'list'>
<class 'list'>
<class 'list'>

In [8]:
#Si necesito acceder a un elemento específico, requiere de un Indice
#de Referencia. (Estos comienzan por el cero, en este caso: rojo es cero).

mi_lista=["rojo","azul","amarillo","naranja","violeta","verde"]

In [9]:
#Entonces para acceder al 3er elemento que es amarillos, coloco el 2
#entre corchetes

print(mi_lista[2])

amarillo

In [10]:
#Podemos acceder a un conjunto de elementos, dentro de una lista,
#donde el elemento inferior se incluye y el superior excluido.
#Se le llama, Rebanado o Slice

print(mi_lista[0:2])

['rojo', 'azul']

In [11]:
#Ahora vamos a omitir el primer valor
print(mi_lista[:2])

#Python asume que es un cero.

['rojo', 'azul']

In [12]:
#Y que pasa si no ponemos el ultimo valor

print(mi_lista[0:])

#Python asume que se trata de todos los elementos de la lista

['rojo', 'azul', 'amarillo', 'naranja', 'violeta', 'verde']

In [13]:
#Con python hay acciones que operan con las listas. Por ejemplo, 
#agregar un nuevo elemento, al final de la lista: incluso lo duplica.

mi_lista.append("blanco")

In [14]:
print(mi_lista)

['rojo', 'azul', 'amarillo', 'naranja', 'violeta', 'verde', 'blanco']

In [15]:
#Podemos agregar un elemento en un lugar del indice específico, por
#ejemplo, en el 4to lugar, seria el indice 3

mi_lista.insert(3,"negro")

In [16]:
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'blanco']

In [17]:
#Tambien podemos concatenar una nueva lista, con la lista previamente
#hecha.

mi_lista.extend(["rosa","gris"])

In [18]:
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'blanco', 'rosa', 'gris']

In [19]:
#Podemos encontrar el valor de un lugar especifico de la lista

mi_lista.index("azul")

1

In [20]:
#Podemos eliminar un elemento de la lista

mi_lista.remove("blanco")

In [21]:
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'rosa', 'gris']

In [22]:
#Vamos a intentar eliminar un elemento que no existe, por ejemplo,
#con el color celeste.

print(mi_lista.index("celeste"))

ValueError: 'celeste' is not in list

In [ ]:
#Borrar de manera permanente un valor de la lista, si quiero recuperarlo
#lo tengo que guardar en una variable.

ultimo=mi_lista.pop()

In [ ]:
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'rosa']

In [ ]:
#Lo recuperamos al definirlo dentro de la variable "ultimo"
print(ultimo)

gris

In [ ]:
#Eliminamos de la lista el valor del 2do elemento de la lista: azul

segundo=mi_lista.pop(1)

In [ ]:
print(mi_lista)

['rojo', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'rosa']

In [ ]:
print(segundo)

azul

In [ ]:
#Podemos multiplicar la lista por 3.

lista=[22,23,24]
print(lista*3)

[22, 23, 24, 22, 23, 24, 22, 23, 24]

In [ ]:
#No se modificó la lista original
print(lista)

[22, 23, 24]

In [ ]:
#Si queremos que se guarden los nuevos elementos, hay que conservarlos
#en una nueva variable

lista_por_tres=lista*3

In [ ]:
print(lista_por_tres)

[22, 23, 24, 22, 23, 24, 22, 23, 24]

In [ ]:
#Ordenar los elementos de una lista de menor a mayor

lista=[1,4,3,6,8,2]

In [ ]:
lista.sort()

In [ ]:
print(lista)

[1, 2, 3, 4, 6, 8]

In [ ]:
#Podemos ordenar datos string tambien pero lo hará por orden 
#alfabetico

mi_lista=["rojo","azul","amarillo","negro","naranja","violeta","verde","blanco","rosa","gris"]
mi_lista.sort()

In [ ]:
print(mi_lista)

['amarillo', 'azul', 'blanco', 'gris', 'naranja', 'negro', 'rojo', 'rosa', 'verde', 'violeta']

In [ ]:
#Ordenar la lista de mayor a menor.

lista=[1,4,3,6,8,2]
lista.sort(reverse=True)

In [ ]:
print(lista)

[8, 6, 4, 3, 2, 1]

In [ ]:
#veremos que tambien funciona con strings

mi_lista=["rojo","azul","amarillo","naranja","violeta","verde"]
mi_lista.sort(reverse=True)

In [ ]:
print(mi_lista)

['violeta', 'verde', 'rojo', 'naranja', 'azul', 'amarillo']

In [ ]:
#Podemos contar el numero de veces que se repite un elemento de la lista
mi_lista=[22,34,56,84,76,23,22,98,75,22]

In [ ]:
mi_lista.count(22)

3

In [ ]:
lista=["Hola","mundo","hola","hola"]

In [ ]:
lista.count("Hola")

1

# Tuplas

In [ ]:
#Es similar a la Lista pero No se pueden modificar una vez creadas: ni agregar, eliminar ni ordenar sus elementos
#Los elementos se encuentran encerrados entre () y separados por ,
#son estructuras ordenadas y se usan indices con numeros enteros, empezando por el 0 que es el primer elemento.
#Puede tener elementos duplicados
#Puede tener los mismos o distintos tipos de elementos.

In [ ]:
mi_tupla=(2,4,6,8,10)

In [ ]:
print(mi_tupla)

(2, 4, 6, 8, 10)

In [ ]:
type(mi_tupla)

tuple

In [ ]:
tupla_dias=("lunes","martes","miercoles","jueves","viernes","sabado","domingo")

In [ ]:
#Para saber el en que orden se encuentra tal elemento.
print(tupla_dias[1])

martes

In [ ]:
"jueves" in tupla_dias

True

In [ ]:
"Jueves" in tupla_dias

#Para Python una mayuscula cambia el elemento completamente.

False

In [ ]:
tupla_dias.count("sabado")

1

In [ ]:
#Debe llevar la coma al final para que python lo considere tupla,
mi_tupla_unitaria=("blanco",)

In [ ]:
type(mi_tupla_unitaria)

tuple

In [ ]:
#De otra manera, lo considera un str

mi_tupla=("amarillo")

In [ ]:
type(mi_tupla)

str

In [ ]:
tupla_dias=("lunes","martes","miercoles","jueves","viernes","sabado","domingo")

In [ ]:
tupla_dias[2]

'miercoles'

In [ ]:
#Rebanada o slice de elementos.
tupla_dias[1:3]

('martes', 'miercoles')

In [ ]:
tupla_dias[0]="Lunes"

#Lanza error porque las tuplas no pueden modificarse, son inmutables

TypeError: 'tuple' object does not support item assignment

#### Empaquetado de Tuplas

In [ ]:
#Generar una tupla asignando a una variable, un conjunto de variables

x=11
y=22
z="Henry"

In [ ]:
mi_tupla=x,y,z

In [ ]:
print(mi_tupla)

(11, 22, 'Henry')

In [ ]:
#Chequeamos que sea una tupla
type(mi_tupla)

tuple

In [ ]:
date=(22,"agosto",1999)

In [ ]:
type(date)

tuple

#### Desempaquetado de Tuplas

In [ ]:
#Asignamos una variable a cada elemento 
uno,dos,tres=date

In [ ]:
print(uno)

22

In [ ]:
print(dos)

agosto

In [ ]:
print(tres)

1999

In [ ]:
#No se puede desempaquetar un conjunto de variables, cuando faltan elementos.
uno,dos=date

ValueError: too many values to unpack (expected 2)

In [ ]:
#Ni cuando sobran elementos

uno,dos,tres,cuatro=date

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
tupla_impares=(1,3,5,7,9)

In [ ]:
primero=tupla_impares[0]
cuarto=tupla_impares[3]
quinto=tupla_impares[4]

In [ ]:
print(primero)
print(cuarto)
print(quinto)

1
7
9

In [ ]:
#Podemos desempaquetar utilizando el guion bajo. Escribiremos con guion bajo el paquete de elementos y entre comas los que no nos interesa.

_,_,_,cuarto,quinto=tupla_impares

In [ ]:
print(cuarto)
print(quinto)

7
9

In [ ]:
#Podemos convertir una tupla en una lista.

lista_impares=list(tupla_impares)

In [ ]:
#Debido a que list es una funcion interna, debemos evitar utilizarla como nombre de variable.

print(lista_impares)

[1, 3, 5, 7, 9]

In [ ]:
type(lista_impares) #Nos aseguramos que la tupla ahora es una lista

list

In [ ]:
#Podemos hacer el proceso inverso, de lista, lo pasamos por tupla.
#Tupla tambien es una funcion interna y debemos evitarla para nombrar variables.

nueva_tupla=tuple(lista_impares)

In [ ]:
print(nueva_tupla)

(1, 3, 5, 7, 9)

In [ ]:
type(nueva_tupla)

tuple

#### Diccionario

In [ ]:
#Es una secuencia de valores pueden ser de cualquier tipo, es mas general que los anteriores.
#Es por eso que vamos a llamarle conjunto de claves y valores.
#Cada clave apunta a un valor
#Se identifican con llaves {} 
#La asociacion de una clave y un valor la llamamos par clave-valor o tambien, elemento
#Se utiliza la funcion Dict

In [ ]:
primer_diccionario=dict()

In [ ]:
primer_diccionario

{}

In [ ]:
type(primer_diccionario)

dict

In [ ]:
primer_diccionario["primero"]="uno"

In [ ]:
primer_diccionario

{'primero': 'uno'}

In [ ]:
primer_diccionario["segundo"]="dos"
primer_diccionario["tercero"]="tres"

In [ ]:
primer_diccionario

{'primero': 'uno', 'segundo': 'dos', 'tercero': 'tres'}

In [ ]:
segundo_diccionario={"cuatro":4,"cinco":5,"seis":6}

In [ ]:
print(segundo_diccionario)

{'cuatro': 4, 'cinco': 5, 'seis': 6}

In [ ]:
#Para acceder a un valor específico, vamos a utilizar la clave correspondiente

print(segundo_diccionario["cuatro"])

4

In [ ]:
mi_diccionario={"Colores Primarios":["Rojo","Azul","Amarillo"],
                "Colores Secundarios":["Naranja","Violeta","Verde"],
                "Clave 3": 10,
                "Clave 4": False}

In [ ]:
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores Secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave 3': 10, 'Clave 4': False}

In [ ]:
#Podemos borrar un elemento:
del mi_diccionario["Clave 4"]

In [ ]:
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores Secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave 3': 10}

In [ ]:
#Podemos usar una tupla como clave de un diccionario.
#Luego a cada clave que proviene de la tupla le vamos a asignar un valor

mi_tupla=("Argentina","Italia","Inglaterra")

In [ ]:
mi_diccionario={mi_tupla[0]:"Buenos Aires",
                mi_tupla[1]:"Roma",
                mi_tupla[2]:"Londres"}

In [2]:
#Tupla-valor
print(mi_diccionario)

{'Clave1': 'Valor 1', 'Clave2': (1, 2, 3, 4, 5)}

In [1]:
#Podemos poner una tupla dentro de un diccionario

mi_diccionario={"Clave1":"Valor 1", "Clave2":(1,2,3,4,5)}

In [ ]:
print(mi_diccionario)

{'Clave1': 'Valor 1', 'Clave2': (1, 2, 3, 4, 5)}

In [ ]:
#Podemos poner una lista dentro de un diccionario

mi_diccionario={"Clave1":"Valor 1", "Clave2":[1,2,3,4,5]}

In [ ]:
print(mi_diccionario)

{'Clave1': 'Valor 1', 'Clave2': [1, 2, 3, 4, 5]}

In [ ]:
#Podemos poner un diccionario, dentro de un diccionario

mi_diccionario={"Clave1":"Valor1", "Clave2":{"numero":[1,2,3,4,5]}}

In [ ]:
print(mi_diccionario)

{'Clave1': 'Valor1', 'Clave2': {'numero': [1, 2, 3, 4, 5]}}

In [ ]:
#Para imprimir las claves del diccionario, aplicamos la funcion keys

print(mi_diccionario.keys())

dict_keys(['Clave1', 'Clave2'])

In [ ]:
#Para imprimir los valores de los diccionarios usamos values

print(mi_diccionario.values())

dict_values(['Valor1', {'numero': [1, 2, 3, 4, 5]}])

In [ ]:
#Para obtener la longitud de ese diccionario, usamos la funcion len

len(mi_diccionario)

#En mi diccionario hay 2 par clave-valor

2

In [ ]:
#Tambien usamos len para saber el temaño de listas y tuplas.

### Sets (conjuntos)

In [23]:
#Crear mi set
my_set={1,2,3,4,5}

In [25]:
#Agregar elementos al set
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [26]:
#Eliminar elemento
my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 6}

In [27]:
#Operaciones entre conjuntos.
set1={1,2,3}
set2={3,4,5}

In [28]:
#Característica de los set: no duplica valores.
union=set1 | set2
print(union)

{1, 2, 3, 4, 5}

In [29]:
#Característica de los set: no tiene indice de referencia, de esta manera puedes encontrar una referencia.
#No respeta el orden de inserción.
interseccion=set1 & set2
print(interseccion)

{3}

In [30]:
diferencia= set1 - set2
print(diferencia)

{1, 2}

In [31]:
diferencia_simetrica= set1 ^ set2
print(diferencia_simetrica)

{1, 2, 4, 5}