## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
lista_ciudades=["Buenos Aires","Texas","Londres","Paris","Roma","Madrid"]

In [2]:
print(lista_ciudades)

['Buenos Aires', 'Texas', 'Londres', 'Paris', 'Roma', 'Madrid']

2) Imprimir por pantalla el segundo elemento de la lista

In [5]:
print(lista_ciudades[1])

Texas

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(lista_ciudades[1:5])

['Texas', 'Londres', 'Paris', 'Roma']

4) Visualizar el tipo de dato de la lista

In [15]:
type("Buenos Aires")

str

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [18]:
print(lista_ciudades[3:5])

['Paris', 'Roma']

6) Visualizar los primeros 4 elementos de la lista

In [19]:
print(lista_ciudades[0:5])

['Buenos Aires', 'Texas', 'Londres', 'Paris', 'Roma']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [20]:
lista_ciudades.extend(["Texas","Barcelona"])

In [21]:
print(lista_ciudades)

['Buenos Aires', 'Texas', 'Londres', 'Paris', 'Roma', 'Madrid', 'Texas', 'Barcelona']

8) Agregar otra ciudad, pero en la cuarta posición

In [24]:
lista_ciudades.insert(3,"Sao Paulo")

In [25]:
print(lista_ciudades)

['Buenos Aires', 'Texas', 'Londres', 'Sao Paulo', 'Paris', 'Sao Paulo', 'Roma', 'Madrid', 'Texas', 'Barcelona']

9) Concatenar otra lista a la ya creada

In [26]:
lista_ciudades.extend(["Shangai","Tokio"])

In [27]:
print(lista_ciudades)

['Buenos Aires', 'Texas', 'Londres', 'Sao Paulo', 'Paris', 'Sao Paulo', 'Roma', 'Madrid', 'Texas', 'Barcelona', 'Shangai', 'Tokio']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [30]:
#Encuentra el primer elemento, no el que se repitio
lista_ciudades.index("Texas")

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [31]:
#Error: no esta "Osaka" en la lista
lista_ciudades.index("Osaka")

ValueError: 'Osaka' is not in list

12) Eliminar un elemento de la lista

In [34]:
lista_ciudades.remove("Sao Paulo")

In [35]:
print(lista_ciudades)

['Buenos Aires', 'Texas', 'Londres', 'Paris', 'Roma', 'Madrid', 'Texas', 'Barcelona', 'Shangai', 'Tokio']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [36]:
lista_ciudades.remove("Osaka")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [49]:
print(lista_ciudades)

['Buenos Aires', 'Texas', 'Londres', 'Paris', 'Roma', 'Madrid', 'Texas', 'Barcelona', 'Shangai', 'Tokio']

In [81]:
print(lista_ciudades[9])

Tokio

In [83]:
ultimo="Tokio"

In [84]:
print(ultimo)

Tokio

15) Mostrar la lista multiplicada por 4

In [70]:
lista_ciudades*4

['Buenos Aires',
 'Texas',
 'Londres',
 'Paris',
 'Roma',
 'Madrid',
 'Texas',
 'Barcelona',
 'Shangai',
 'Tokio',
 'Buenos Aires',
 'Texas',
 'Londres',
 'Paris',
 'Roma',
 'Madrid',
 'Texas',
 'Barcelona',
 'Shangai',
 'Tokio',
 'Buenos Aires',
 'Texas',
 'Londres',
 'Paris',
 'Roma',
 'Madrid',
 'Texas',
 'Barcelona',
 'Shangai',
 'Tokio',
 'Buenos Aires',
 'Texas',
 'Londres',
 'Paris',
 'Roma',
 'Madrid',
 'Texas',
 'Barcelona',
 'Shangai',
 'Tokio']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [71]:
tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [75]:
print(tupla[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [77]:
20 in tupla

True

In [78]:
30 in tupla

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [80]:
print(lista_ciudades[3])

Paris

In [89]:
tercero="Paris"

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [86]:
tupla.count(10)

1

In [87]:
lista_ciudades.count("Texas")

2

21) Convertir la tupla en una lista

In [90]:
mi_lista=list(tupla)

In [91]:
print(mi_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [92]:
print(tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [93]:
numeros=1,2,3

In [94]:
uno,dos,tres=numeros

In [95]:
print(uno)
print(dos)
print(tres)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [103]:
lista_ciudades=dict()

In [104]:
ciudad=dict(lista_ciudades)

In [105]:
print(ciudad)

{}

In [107]:
ciudad={"lista_ciudades":["Buenos Aires","Texas","Londres","Paris","Roma","Madrid"],
        "Pais":["Argentina","EEUU","Inglaterra","Francia","Italia","España"],
        "Continente":["América","Europa"]}

24) Imprimir las claves del diccionario

In [121]:
print(ciudad.keys())

dict_keys(['lista_ciudades', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [18]:
ciudad={"lista_ciudades":["Buenos Aires","Texas","Londres","Paris","Roma","Madrid"]}

In [19]:
lista_ciudades=ciudad

In [20]:
print(lista_ciudades.values())

dict_values([['Buenos Aires', 'Texas', 'Londres', 'Paris', 'Roma', 'Madrid']])