## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
num=6
print(type(num))

<class 'int'>

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
x= 8.5
print(type(x))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
Nombres= 'Marcela ' + 'Alejandra '
Apellido= 'Stocco'

In [6]:
print(Nombres)
print(Apellido)

Marcela Alejandra
Stocco

5) Crear una variable que contenga un número complejo

In [7]:
x=3+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(x))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi= 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
w= 'True' #Valor String
z=  True #Valor Booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(w))
print(type(z))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
x= 4
y= 6.5
print(x + y)

10.5

11) Realizar una operación de suma de números complejos

In [13]:
num1= 3 + 4j
num2= 2 + 5j
print(num1 + num2)

(5+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
m= 5
n= 4+7j
print(m + n)

(9+7j)

13) Realizar una operación de multiplicación

In [15]:
3*4

12

In [16]:
multiplicacion= 5*8

In [17]:
print(multiplicacion)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
y=27
z=4
print(y/z)

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
print(y//z)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
print(y%z)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [23]:
edad= "Tengo " + "36 " + "años."
print(edad)

Tengo 36 años.

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [24]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [25]:
int('2')

2

In [26]:
2 == int('2')

True

In [27]:
2 != "2"

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [28]:
a = float('3,8') #ValueError: could not convert string to float: '3,8'

ValueError: could not convert string to float: '3,8'

In [ ]:
float('3.8') #Las variables float llevan punto, no coma

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
m= 3

In [ ]:
m-= 1 #forma de abreviar m =- 1

In [ ]:
print(m)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1 << 2 #Explicación: el numero binario 1 se representa con el 0001, en la operacion de numeros binarios se desplaza el numero 1 dos lugares hacia la izquierda. El resultados es 0100 para el numero binario 1 << 2.
# Sistema binario: es un sistema numérico que utiliza únicamente dos dígitos: 0 y 1. A diferencia del sistema decimal que estamos más acostumbrados a usar en nuestra vida diaria, que utiliza diez dígitos (0 al 9), el sistema binario simplifica las representaciones numéricas al utilizar solo dos estados posibles.

4

In [ ]:
format(4, "b")

'100'

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + '2' #No está permitido porque no se puede sumar un valor entero con un valor str.
#Arroja distinto resultado.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
'2' + '2' #Comprobando los resultados diferentes.

'22'

In [ ]:
2 + 2

4

In [ ]:
2 !='2'

True

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
var1= " mi nombre es "
var2=  3

In [ ]:
print (var1 * var2 + str(var2) + (" veces"))

 mi nombre es  mi nombre es  mi nombre es 3 veces